.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-viewport {
  height: 660px;
  width: 99%;
  border: 1px solid var(--border-color);
  margin-top: 40px;
}

.example-item {
  height: 50px;
}

.cdk-virtual-scroll-viewport {
    border: none;
}