@let characters = characters$ | async;
@let error = storeError$ | async;

<div class="search-container">
    <app-search-bar></app-search-bar>
</div>

@if (error) {
    <div class="error-container">
    </div>
}

@if (isLoading$ | async) {
    <mat-spinner class="spinner"></mat-spinner>
}

@if (characters && characters.length !== 0) {
    <cdk-virtual-scroll-viewport 
        itemSize="558" 
        class="example-viewport"
        (scrolledIndexChange)="loadCharacters($event)"
        >
        <app-single-character
            *cdkVirtualFor="let character of characters"
            [character]="character">
        </app-single-character>
    </cdk-virtual-scroll-viewport>
}

@if (selectCharacter) {
    <app-modal-window 
        [activeCharacter]="selectCharacter"
        (interactionFinished)="isCharacterChange($event)"
    >
    </app-modal-window>
}