.title {
    color: var(--label-color);
    z-index: 1;
    text-shadow: 3px 3px 5px var(--shadow);
    font-size: 60px;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}